<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Profiles</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="/static/css/index.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
    	<div class="page-header">
            <a href="/"><h1>Profile Search</h1></a>
      </div>
    	<div class="content container">
   			<div class="row">
          <div class="col-lg-4 col-md-4"></div>
        		<div class="col-lg-4 col-md-4">

        			<form action="/save_profiles/" method="post">
        				{% csrf_token %}
        				{{ formset.management_form }}
        				<input type="submit" value="Save" class="btn btn-primary btn-lg">
        				<p></p>
					    	{% for form in formset %}
					    		<div class="thumbnail">
					    			<a href={{ form.html_url.value }} target="_blank"><img src={{ form.avatar_url.value }} height="120" width="120" style="border-radius: 50%;"></a>
					    			<div class="caption">
							    		<h2>{{ form.accept}} {{ form.name.value }}</h2>
							    		<div class="date">
							    			<p>{{ form.email.value }}</p>
								    		<p>{{ form.location.value }}</p>
							    		</div>
							    		<div class="btn-group btn-lg" role="group" aria-label="...">
										  	<button type="button" class="btn btn-default">{{ form.language_1.value }}</button>
										  	<button type="button" class="btn btn-default">{{ form.language_2.value }}</button>
											<button type="button" class="btn btn-default">{{ form.language_3.value }}</button>

											<p hidden>
												{{form.git_id}}{{form.login}}{{form.avatar_url}}{{form.name}}{{form.email}}{{form.company}}{{form.html_url}}{{form.blog_url}}{{form.date_added}}{{form.location}}{{form.language_1}}{{form.language_2}}{{form.language_3}}
											</p>
										</div>
									</div>
						    	</div>
							{% endfor %}
						<input type="submit" value="Save" class="btn btn-primary btn-lg">
						<br/>
					</form>
				</div>
        <div class="col-lg-4 col-md-4"></div>
			</div>
		</div>
    </body>
</html>
